@charset "utf-8";
/* CSS Document */

/* --------------------
	index.jsp 
-------------------- */

/* --------------------
	Heading 
-------------------- */

#heading_section{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #6d2854;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#title{
	font-family: cursive;
	margin: 0px;
}

#title a:hover, #title a:visited, #title a:active, #title a:link{
	color: white;
	text-decoration: none;
}

#cart_section{
	padding-top: 10px;
	text-align: right;
}

#cart_section a#cart:hover, #cart_section a#cart:visited, #cart_section a#cart:active, #cart_section a#cart:link{
	color: white;
	text-decoration: none;
}

#cart_section .dropdown-toggle{
	background-color: #6d2854;
	border: 0px;
}

/* --------------------
	body 
-------------------- */

#index #fit_to_screen{
	height: 100vh;
}

#index .item{
	
}

#index .item img{
	height: 100%;
	width: 100%;
}

#index .img_section{
	height: 200px;
	padding: 0px;
	position: relative;
}

#index .img_section img{
	height: 100%;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
}

#index .img_section p{
	font-size: 24px;
	margin-top: 0px;
}

/* --------------------
	Page numbers 
-------------------- */

#page_nums{
	text-align: center;
}

/* --------------------
	footer 
-------------------- */

#footer{
	background-color: black;
	color: white;
}

#about, #connect, #contact, #credits{
	padding: 15px;
	padding-left: 20px;
	text-align: center;
}

#connect img, #contact img{
	width: 25px;
	height: 25px;
	margin: 5px;
}

#credits img{
	width: 20px;
	height: 20px;
	margin: 0px;
}

/* --------------------
	index.jsp media queries
-------------------- */

@media screen and (max-width: 768px){
	
	#heading_section{
		text-align: center;
	}
	
	#cart_section{
		text-align: center;
	}
	
}



/* --------------------
	chocolate-cakes.jsp
-------------------- */

.cake_display img{
	width: 100%;
	height: 200px;
}

.cake_display{
	border: 0px solid #6d2854;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cake_display h4 a{
	color: black;
}

.cake_display h4 a:visited, .cake_display h4 a:active, .cake_display h4 a:link{
	color: black;
	text-decoration: none;
}


/* --------------------
	product.jsp 
-------------------- */

#product #product_image_section img{
	width: 100%;
	height: 300px;
	margin-top: 70px;
}

/* --------------------
	product.jsp media queries
-------------------- */

@media screen and (max-width: 768px){
	
	#product #product_image_section img{
		margin-top: 0px;
	}
	
	#product #add_to_cart_section{
		text-align: center;
	}
	
}


/* --------------------
	seller-index.html
-------------------- */


/* --------------------
	Header Section 
-------------------- */

#login_section{

	padding: 10px;
	margin-top: 40px;
	
}

#login_section td{
	
	padding: 5px;
			
}

#login_section input{
	
	height: 30px;
		
}

#login_section .btn{
	
	padding-top: 3px;
		
}


/* --------------------
	Navigation Bar 
-------------------- */

#seller-navigation_links{

	font-size: 16px;
	
}

/* --------------------
	footer 
-------------------- */

#seller-index #footer{
	background-color: #6d2854;
}


/* --------------------
	Registration Message 
-------------------- */

#registration_msg{
		
	padding: 20px;	

}

#registration_msg .special{

	color: #F06;
	
}

#registration_msg .big{

	font-size: 20px;
	
}


/* --------------------
	Registration Form
-------------------- */

#seller_reg_form h3{
	
	text-align:center;
	
}

#seller_reg_form{
	
	background-color: white;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 20px
	
}

#seller_reg_form input{
	
	margin-bottom: 10px;
	padding: 0px;
	
}

#seller_reg_form input.submit{
	
	margin-top: 10px;
	padding: 7px;
	
}


/* --------------------
	seller-index.html media queries 
-------------------- */

@media screen and (max-width: 767px){
	
	#login_section{
		display: none;	
	}
	
	#logo_section{
		text-align: center;	
	}
	
}

@media screen and (min-width: 768px){
	
	#seller-navigation_links .navbar-right{
		display: none;	
	}
	
}


/* --------------------
	seller-home.jsp
-------------------- */

#seller_home_body .orders_div{
	min-height: 500px;
}

#seller_home_body .image_td img{
	width: 100%;
}

#seller_home_body .image_td{
	width: 60px;
}

#seller_home_body .address_td{
	width: 200px;
}

#seller_home_body #history{
	margin-top: 5px;
}

#seller_home_body #history a{
	float: right;
}

/* --------------------
	seller-home.jsp media queries
-------------------- */

@media screen and (max-width: 767px){
	
	#seller_home_body #history a{
		float: left;
	}
	
}


/* --------------------
	seller-account.jsp
-------------------- */

#apply_changes_div{
	text-align: center;
}

#apply_changes_div .btn{
	margin-bottom: 20px;
}


/* --------------------
	add-product.jsp
-------------------- */

#product_img_div{
	border: 1px solid black;
	height: 150px;
	margin-bottom: 20px;
}

#choose_file{
	margin-bottom: 20px;
}

#add_product_btn{
	margin-bottom: 20px;
	margin-top: 10px;
}


/* --------------------
	General 
-------------------- */

.right{
	text-align: right;
}

.white{
	color: white;
}

.center{
	text-align: center;
}

.font1{
	font-family: cursive;
}

.font2{
	font-family: monospace;
}

.color1{
	color: #6d2854;
}

.red{
	color: red;	
}

.grey{
	background-color: #eeeeee;	
}

.navbar-inverse{
	background-color:#6d2854;
	color: white;
}