<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>E-Cakery-V2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Upload-Path</param-name>
    <param-value>C:\Uploads</param-value>
  </context-param>
  <context-param>
    <param-name>User-Photo-Upload-Path</param-name>
    <param-value>C:\Uploads\User</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Cart</servlet-name>
    <jsp-file>/cart.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <jsp-file>/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <jsp-file>/payment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Summary</servlet-name>
    <jsp-file>/summary.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Summary</servlet-name>
    <url-pattern>/Summary</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfile</servlet-name>
    <jsp-file>/user-profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserOrders</servlet-name>
    <jsp-file>/user-orders.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrders</servlet-name>
    <url-pattern>/UserOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CakesByFlavour</servlet-name>
    <jsp-file>/cakes-by-flavour.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CakesByFlavour</servlet-name>
    <url-pattern>/CakesByFlavour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CakesByCategory</servlet-name>
    <jsp-file>/cakes-by-category.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CakesByCategory</servlet-name>
    <url-pattern>/CakesByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllCakes</servlet-name>
    <jsp-file>/all-cakes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllCakes</servlet-name>
    <url-pattern>/AllCakes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoCakes</servlet-name>
    <jsp-file>/photo-cakes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoCakes</servlet-name>
    <url-pattern>/PhotoCakes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Product</servlet-name>
    <jsp-file>/product.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoCake</servlet-name>
    <jsp-file>/photo-cake.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoCake</servlet-name>
    <url-pattern>/PhotoCake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Order</servlet-name>
    <jsp-file>/order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerHome</servlet-name>
    <jsp-file>/seller-home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerHome</servlet-name>
    <url-pattern>/SellerHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderHistory</servlet-name>
    <jsp-file>/order-history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistory</servlet-name>
    <url-pattern>/OrderHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerAccount</servlet-name>
    <jsp-file>/seller-account.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerAccount</servlet-name>
    <url-pattern>/SellerAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Catalogue</servlet-name>
    <jsp-file>/catalogue.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catalogue</servlet-name>
    <url-pattern>/Catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payments</servlet-name>
    <jsp-file>/payments.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payments</servlet-name>
    <url-pattern>/Payments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewCake</servlet-name>
    <jsp-file>/add-new-cake.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewCake</servlet-name>
    <url-pattern>/AddNewCake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPhotoCake</servlet-name>
    <jsp-file>/add-photo-cake.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoCake</servlet-name>
    <url-pattern>/AddPhotoCake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewCake</servlet-name>
    <jsp-file>/view-cake.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCake</servlet-name>
    <url-pattern>/ViewCake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPhotoCake</servlet-name>
    <jsp-file>/view-photo-cake.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPhotoCake</servlet-name>
    <url-pattern>/ViewPhotoCake</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOrder</servlet-name>
    <jsp-file>/view-order.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrder</servlet-name>
    <url-pattern>/ViewOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHome</servlet-name>
    <jsp-file>/admin-home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>webservices</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>